.bangumi-item
  .bangumi-picture
    img(
      src=('https:' + item.cover.replace(/^https:/, ''))
      referrerpolicy="no-referrer"
      loading=lazyload ? "lazy" : "eager"
      width="110"
      style="width:110px;margin:20px auto;"
    )

  .bangumi-info
    .bangumi-title
      a(target="_blank" href='https://anilist.co/anime/' + item.id)= item.title || __('unknown')

    .bangumi-meta
      span.bangumi-info-items(style=metaColor ? 'color:' + metaColor + ';' : '')
        if item.totalCount
          span.bangumi-info-item
            span.bangumi-info-total= item.totalCount ? '全' + item.totalCount + '话' : '-'
            em.bangumi-info-label-em 0

        span.bangumi-info-item.bangumi-type
          span.bangumi-info-label= __('type')
          em= item.type

        span.bangumi-info-item.bangumi-area
          span.bangumi-info-label= __('area')
          em= item.area

        span.bangumi-info-item.bangumi-info-item-follow
          span.bangumi-info-label= __('follow')
          em= item.collect || "-"

        span.bangumi-info-item.bangumi-info-item-score
          span.bangumi-info-label= __('score')
          em= item.score || "-"

    if progressBar !== false
      .bangumi-progress(style="margin-top:10px;")
        .bangumi-progress-text 追#{type==='bangumi' ? '番' : '剧'}进度：#{item.ep_status}/#{item.totalCount}
        .progress-bar(style='width: ' + (item.progress > 100 ? 100 : item.progress) + '%;')

    .bangumi-summary(style=color ? 'color:' + color + ';' : '')
      p(class=progressBar ? 'has-bangumi-progress' : '')= __('summary') + "：" + (item.des || __('noSummary'))

  if showMyComment && (item.myComment || item.myStars)
    .bangumi-comments(style=color ? 'color:' + color + ';' : '')
      .bangumi-my-comments
        | #{__('myScore')}：
        if item.myStars
          span.bangumi-starstop
            span(class='bangumi-starlight stars' + item.myStars)
        else
          | 暂无
        br
        | #{__('comment')}：#{item.myComment || '暂无'}
