<% if (quote) { %>
<blockquote>
    <p><%- quote; %></p>
</blockquote>
<% } %>
<style>
    <% include index.css %>
</style>
<div class="bangumi-tabs">
    <a class="bangumi-tab" id="bangumi-tab1" href="javascript:;" rel="external" target="_self" onclick="return false">
    <%= __('wantWatch') %>
    (<%= wantWatch.length %>)</a>
    <a class="bangumi-tab" id="bangumi-tab2" href="javascript:;" rel="external" target="_self" onclick="return false">
        <%= __('watching') %>
        (<%= watching.length %>)</a>
    <a class="bangumi-tab" id="bangumi-tab3" href="javascript:;" rel="external" target="_self" onclick="return false">
        <%= __('watched') %>
        (<%= watched.length %>)</a>
</div>
<div>
    <div id="bangumi-item1">
        <% wantWatch.forEach(function(item){ %>
        <% include template.ejs %>
        <% }); %>
        <% include pagination.ejs %>
    </div>
    <div id="bangumi-item2">
        <% watching.forEach(function(item){ %>
        <% include template.ejs %>
        <% }); %>
        <% include pagination.ejs %>
    </div>
    <div id="bangumi-item3">
        <% watched.forEach(function(item){ %>
        <% include template.ejs %>
        <% }); %>
        <% include pagination.ejs %>
    </div>
</div>
<script>
    <% include index.js %>
    tabs[<%- show %>].click();
    <% include pagination.js %>
</script>
