<div class="bangumi-item">
    <div class="bangumi-picture"><img src="<%= lazyload ? (loading || "https://cdn.jsdelivr.net/npm/hexo-bilibili-bangumi@1.2.0/lib/img/loading.gif") : (srcValue === '__loading__' ? (loading || "https://cdn.jsdelivr.net/npm/hexo-bilibili-bangumi@1.2.0/lib/img/loading.gif") : `https:${item.cover.replace(/^https:/, '')}`) %>" <%- lazyload ? ` data-src="${item.cover}"` : (lazyloadAttrName ? ` ${lazyloadAttrName.split('=')[0]}="${lazyloadAttrName.split('=')[1] === '__loading__' ? (loading || "https://cdn.jsdelivr.net/npm/hexo-bilibili-bangumi@1.2.0/lib/img/loading.gif") : (lazyloadAttrName.split('=')[1] === '__image__' ? `https:${item.cover.replace(/^https:/, '')}` : (lazyloadAttrName.split('=')[1] || ''))}"` : "") %> referrerPolicy="no-referrer" width="110" style="width:110px;margin:20px auto;" />
    </div>
    <div class="bangumi-info">
        <div class="bangumi-title">
            <a target="_blank" href="https://bangumi.tv/subject/<%= item.id %>"><%= item.title || "Unknown" %></a>
        </div>
        <div class="bangumi-meta">
            <span class="bangumi-info-items" <%- metaColor  %>>
                <span class="bangumi-info-item">
                <% if(item.totalCount){ %>
                <span class="bangumi-info-total"><%= item.totalCount %></span><em
                        class="bangumi-info-label-em">0</em>
                </span>
                <% } %>
                <span class="bangumi-info-item bangumi-type">
                    <span class="bangumi-info-label">类型</span> <em><%= item.type %></em>
                </span>
                <span class="bangumi-info-item bangumi-wish">
                    <span class="bangumi-info-label">想看</span> <em><%= item.wish %></em>
                </span>
                <span class="bangumi-info-item bangumi-doing">
                    <span class="bangumi-info-label">在看</span> <em><%= item.doing || "-" %></em>
                </span>
                <span class="bangumi-info-item bangumi-collect">
                    <span class="bangumi-info-label">已看</span> <em><%= item.collect || "-" %></em>
                </span>
                <span class="bangumi-info-item bangumi-info-item-score">
                    <span class="bangumi-info-label">评分</span> <em><%= item.score || "-" %></em>
                </span>
            </span>
        </div>
        <div class="bangumi-comments" <%- color %>>
            <p>简介：<%= item.des || "暂无简介" %></p>
                <% if (showMyComment && item.myComment) { %>
                    <div class="bangumi-my-comments">我的评分：
                        <% if (item.myStars) { %>
                            <span class="bangumi-starstop"><span class="bangumi-starlight stars<%= item.myStars %>"></span></span>
                        <% } %>
                        <br>
                        我的评价：<%= item.myComment %>
                    </div>
                <% } %>
        </div>
    </div>
</div>
