<div class="bangumi-item">
    <div class="bangumi-picture"><img src="<%= lazyload ? (loading || "https://cdn.jsdelivr.net/npm/hexo-bilibili-bangumi@1.2.0/lib/img/loading.gif") : (srcValue === '__loading__' ? (loading || "https://cdn.jsdelivr.net/npm/hexo-bilibili-bangumi@1.2.0/lib/img/loading.gif") : `https:${item.cover.replace(/^https:/, '')}`) %>" <%- lazyload ? ` data-src="${item.cover}"` : (lazyloadAttrName ? ` ${lazyloadAttrName.split('=')[0]}="${lazyloadAttrName.split('=')[1] === '__loading__' ? (loading || "https://cdn.jsdelivr.net/npm/hexo-bilibili-bangumi@1.2.0/lib/img/loading.gif") : (lazyloadAttrName.split('=')[1] === '__image__' ? `https:${item.cover.replace(/^https:/, '')}` : (lazyloadAttrName.split('=')[1] || ''))}"` : "") %> referrerPolicy="no-referrer" width="110" style="width:110px;margin:20px auto;" />
    </div>
    <div class="bangumi-info">
        <div class="bangumi-title">
            <a target="_blank" href="https://www.bilibili.com/bangumi/media/md<%= item.id %>/"><%= item.title || "Unknown" %></a>
        </div>
        <div class="bangumi-meta">
            <span class="bangumi-info-items" <%- metaColor  %>>
                <span class="bangumi-info-item">
                <% if(item.totalCount){ %>
                <span class="bangumi-info-total"><%= item.totalCount %></span><em
                        class="bangumi-info-label-em">0</em>
                </span>
                <% } %>
                <% if(item.type){ %>
                <span class="bangumi-info-item bangumi-area">
                    <span class="bangumi-info-label"><%= item.type %></span> <em><%= item.area || "-" %></em>
                </span>
                <% } %>
                <span class="bangumi-info-item bangumi-play">
                    <span class="bangumi-info-label">总播放</span> <em><%= item.view || "-" %></em>
                </span>
                <span class="bangumi-info-item bangumi-follow">
                    <span class="bangumi-info-label"><%= type === "bangumi" ? "追番人数" : "追剧人数" %></span> <em><%= item.follow || "-" %></em>
                </span>
                <span class="bangumi-info-item bangumi-coin">
                    <span class="bangumi-info-label">硬币数</span> <em><%= item.coin || "-" %></em>
                </span>
                <span class="bangumi-info-item bangumi-danmaku">
                    <span class="bangumi-info-label">弹幕总数</span> <em><%= item.danmaku || "-" %></em>
                </span>
                <span class="bangumi-info-item bangumi-info-item-score">
                    <span class="bangumi-info-label">评分</span> <em><%= item.score || "-" %></em>
                </span>
            </span>
        </div>
        <div class="bangumi-comments" <%- color %>><p>简介：<%= item.des || "暂无简介" %></p> </div>
    </div>
</div>
