.bangumi-item
  .bangumi-picture
    img(
      src=('https:' + item.cover.replace(/^https:/, ''))
      referrerpolicy="no-referrer"
      loading=lazyload ? "lazy" : "eager"
      width="110"
      style="width:110px;margin:20px auto;"
    )
  .bangumi-info
    .bangumi-title
      a(target="_blank" href=item.link || ('https://www.bilibili.com/bangumi/media/md' + item.id + '/'))=item.title || __('unknown')
    .bangumi-meta
      span.bangumi-info-items(style=metaColor ? 'color:' + metaColor + ';' : '')
        if item.totalCount
          span.bangumi-info-item
            span.bangumi-info-total=item.totalCount
            em.bangumi-info-label-em 0
        if item.type
          span.bangumi-info-item.bangumi-area
            span.bangumi-info-label=item.type
            em= item.area || "-"
        span.bangumi-info-item.bangumi-play
          span.bangumi-info-label=__('view')
          em= item.view || "-"
        span.bangumi-info-item.bangumi-follow
          span.bangumi-info-label=__('follow')
          em= item.follow || "-"
        span.bangumi-info-item.bangumi-coin
          span.bangumi-info-label=__('coin')
          em= item.coin || "-"
        span.bangumi-info-item.bangumi-danmaku
          span.bangumi-info-label=__('danmaku')
          em= item.danmaku || "-"
        span.bangumi-info-item.bangumi-info-item-score
          span.bangumi-info-label=__('score')
          em= item.score || "-"
    if item.progress !== false && progressBar !== false
      .bangumi-progress(style="margin-top:5px;")
        .bangumi-progress-text 追#{type==='bangumi' ? '番' : '剧'}进度：#{item.ep_status}/#{item.new_ep}
        .progress-bar(style='width: ' + (item.progress > 100 ? 100 : item.progress) + '%;')
    .bangumi-comments(style='margin-top: 10px;' + (color ? 'color:' + color + ';' : ''))
      p #{__('summary')}：#{item.des || __('noSummary')}
